<template xmlns:width="http://www.w3.org/1999/XSL/Transform" xmlns:el-descriptions="http://www.w3.org/1999/html">
    <div class="tm-member-edit">
        <el-descriptions v-if="detailInfo != null"
                         :data="detailInfo" class="margin-top" title="회원정보" :column="3" :size="size" border>
            <el-descriptions-item
                :model="ruleForm" ref="ruleForm">
                <template slot="label">
                    <i class="el-icon-user"></i>
                    회원이름
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.name"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    성별
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.isMan"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-mobile-phone"></i>
                    연락처
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.phoneNumber"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    가입일시
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.dateJoin"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-date"></i>
                    생년월일
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.birthday"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-tickets"></i>
                    회원등급
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.grade"></el-input>
            </el-descriptions-item>
        </el-descriptions>
        <el-descriptions class="margin-top" :column="2" :size="size" border>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-message"></i>
                    Email
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.email"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    주소
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.address"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    회원 계정
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.account"></el-input>
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    계정상태
                </template>
                <el-input placeholder="Please input" v-model="ruleForm.state"></el-input>
            </el-descriptions-item>
        </el-descriptions>
        <el-button type="primary" @click.native="putData()">완료</el-button>
        <el-button type="danger" plain>취소</el-button>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },

    data() {
        return {
            size: '',
            id: null,
            detailInfo: null,
            ruleForm: {
                name: '',
                isMan: '',
                phoneNumber: '',
                dateJoin: '',
                birthday: '',
                email: '',
                address: '',
                account: '',
                grade: '',
                state: '',
            }
        };
    },
    methods: {
        async getDetail() {
            await this.$store.dispatch(this.$memberConstants.DO_MEMBER_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.ruleForm.name = res.data.data.name
                    this.ruleForm.isMan = res.data.data.isMan
                    this.ruleForm.phoneNumber = res.data.data.phoneNumber
                    this.ruleForm.dateJoin = res.data.data.dateJoin
                    this.ruleForm.birthday = res.data.data.birthday
                    this.ruleForm.grade = res.data.data.grade
                    this.ruleForm.email = res.data.data.email
                    this.ruleForm.address = res.data.data.address
                    this.ruleForm.account = res.data.data.account
                    this.ruleForm.state = res.data.data.state
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
        putData() {
            let payload = {
                data: {
                    id: this.detailInfo.id,
                    name: this.ruleForm.name,
                    phoneNumber: this.ruleForm.phoneNumber,
                    isMen: this.ruleForm.isMan,
                    dateJoin: this.ruleForm.dateJoin,
                    birthday: this.ruleForm.birthday,
                    grade: this.ruleForm.grade,
                    email: this.ruleForm.email,
                    address: this.ruleForm.address,
                    account: this.ruleForm.account,
                    state: this.ruleForm.state,
                }
            };

            console.log("Request Payload:", payload);

            this.$store.dispatch(this.$memberConstants.DO_MEMBER_UPDATE, payload)
                .then(res => {
                    console.log(1212)
                    this.$toast.success(res.data.msg)
                    this.$router.replace(`/member/member-list`)
                })
                .catch(err => {
                    console.log(payload)
                    console.log(444)
                    this.$toast.error(err.response.data.msg)
                })
        },
    },
    created() {
        this.getDetail()
    },
}
</script>
