<template>
    <header class="tm-header">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">{{ selectedMenu[0] }} </el-breadcrumb-item>
            <el-breadcrumb-item>
                {{ selectedMenu[1] }}
            </el-breadcrumb-item>
        </el-breadcrumb>
    </header>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
        selectedMenu() {
                return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
        }
    }
}
</script>

