<template>
    <div class="tm-side-nav">
        <el-col :span="12">
            <el-menu
                default-active="2"
                class="el-menu-vertical-demo"
                @open="handleOpen"
                @close="handleClose"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
                <el-menu-item index="1">
                    <i class="el-icon-menu"></i>
                    <span>대시보드</span>
                </el-menu-item>
                <el-submenu index="2">
                    <template slot="title">
                        <i class="el-icon-user-solid"></i>
                        <span>회원정보</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1"><a href="/member/member-list"> 회원리스트</a></el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i class="el-icon-s-check"></i>
                        <span>컨텐츠 관리</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1"><a href="/tm-package/package-create">패키지 등록</a></el-menu-item>
                        <el-menu-item index="1-2"><a href="/tm-package/package-list">패키지 조회</a></el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title">
                        <i class="el-icon-phone"></i>
                        <span>커뮤니케이션</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1"><a href="/communication/question">1:1 문의</a></el-menu-item>
                        <el-menu-item index="1-2"><a href="/communication/review"> 후기</a></el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title">
                        <i class="el-icon-s-tools"></i>
                        <span>환경 설정</span>
                    </template>
                </el-submenu>
            </el-menu>
        </el-col>
    </div>
</template>

<script>
export default {
    methods: {
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        },
        data() {
            return {}
        },
        computed: {
            menusList() {
                return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
            },
        }
    }
}
</script>
