<template>
    <section class="tm-main-nav">
        <div class="tm-main-nav-info">
            <div class="tm-side-nav-img"><img src="/images/user-icon3.png" alt="logo"></div>
            <div class="info">
                {{ name }}관리자

            </div>
            <div class="tm-side-nav-ad">
                <div>
                    최종 접속일:
                    <p>2024-02-01 14:30:05</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {}
    },
    computed: {
        name() {
            return this.$store.getters[this.$authenticatedConstants.GET_NAME]
        },
    }
}
</script>
