<script src="../../../store/modules/member/api-urls.js"></script>
<template xmlns:width="http://www.w3.org/1999/XSL/Transform" xmlns:el-descriptions="http://www.w3.org/1999/html">
    <div>
        <div class="tm-edit-button" >
            <el-button type="primary"  @click.native="moveEdit(id)">수정</el-button>
        </div>
        <el-descriptions v-if="detailInfo != null"
            :data="detail" class="margin-top" title="회원정보" :column="3" :size="size" border>
            <el-row>
                <el-button type="primary">Primary</el-button>
            </el-row>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-user"></i>
                    회원이름
                </template>
                {{ detailInfo.name }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    성별
                </template>
                {{detailInfo.isMan}}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-mobile-phone"></i>
                    연락처
                </template>
                {{ detailInfo.phoneNumber }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    가입일시
                </template>
                {{detailInfo.dateJoin}}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-date"></i>
                    생년월일
                </template>
                {{detailInfo.birthday}}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-tickets"></i>
                    회원등급
                </template>
                <el-tag size="small">{{ detailInfo.grade }}</el-tag>
            </el-descriptions-item>
        </el-descriptions>
        <el-descriptions class="margin-top" :column="2" :size="size" border>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-message"></i>
                    Email
                </template>
                {{detailInfo.email}}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    주소
                </template>
                {{detailInfo.address}}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    회원 계정
                </template>
                {{detailInfo.account}}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    계정상태
                </template>
                {{detailInfo.state}}
            </el-descriptions-item>
        </el-descriptions>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            size: '',
            id:null,
            detailInfo: {
            }
        };
    },
    methods: {
        async getDetail() {
            await this.$store.dispatch(this.$memberConstants.DO_MEMBER_DETAIL, {id: this.id})
                .then((res) => {
                    console.log(111)
                    this.detailInfo = res.data.data
                })
                .catch((err) => {
                    console.log(123)
                    this.$toast.error(err.response.data.msg)
                })
        },
        moveEdit(id) {
            let linkBaseUrl = '/member/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },

}
</script>
