<template>
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
            prop="date"
            label="프로젝트 장소"
            width="180">
        </el-table-column>
        <el-table-column
            prop="name"
            label="패키지 기수"
            width="180">
        </el-table-column>
        <el-table-column
            prop="address"
            label="프로젝트 기간">
        </el-table-column>
    </el-table>
</template>

<script>
export default {
    data() {
        return {
            tableData: [{
                date: '제주도 서귀포',
                name: '제주도 서귀포 1기',
                address: '2024-03-10 ~ 2024-03-13'
            }, {
                date: '제주도 서귀포',
                name: '제주도 서귀포 2기',
                address: '2024-03-14 ~ 2024-03-15'
            }, {
                date: '강원도 설악산',
                name: '강원도 설악산 1기',
                address: '2024-04-24 ~ 2024-04-26'
            }, {
                date: '강원도 고성',
                name: '강원도 고성 1기',
                address: '2024-04-24 ~ 2024-04-26'
            }]
        }
    }
}
</script>
