<template>
    <el-form ref="form" :model="sizeForm" label-width="120px" size="mini">
        <el-form-item label="패키지 이름">
            <el-input v-model="sizeForm.packageName"></el-input>
        </el-form-item>
        <el-form-item label="프로젝트 장소">
            <el-select v-model="sizeForm.place" placeholder="please select your zone">
                <el-option label="제주도 서귀포" value="shanghai"></el-option>
                <el-option label="충청도 청주" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="프로젝트 기간">
            <el-col :span="11">
                <el-date-picker type="date" placeholder="Pick a date" v-model="sizeForm.matchingStartDay"
                                style="width: 100%;"></el-date-picker>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
                <el-date-picker type="date" placeholder="Pick a date" v-model="sizeForm.matchingEndDay"
                                style="width: 100%;"></el-date-picker>
            </el-col>
        </el-form-item>
        <el-form-item size="large">
            <el-button type="primary" @click="setData()">등록</el-button>
            <el-button>취소</el-button>
        </el-form-item>
    </el-form>
</template>
<script>
export default {
    data() {
        return {
            sizeForm: {
                packageName: '',
                place: '',
                matchingStartDay: '',
                matchingEndDay: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            }
        };
    },
    methods: {
        setData() {
            let payload = {
                packageName: this.sizeForm.packageName,
                place: this.sizeForm.place,
                matchingStartDay: this.sizeForm.matchingStartDay,
                matchingEndDay: this.sizeForm.matchingEndDay,

            }
            this.$store.dispatch(this.$meetingConstants.DO_MEETING_CREATE, payload)
                .then(res => {
                    console.log(111)
                    this.$toast.success(res.data.msg)
                    this.$router.replace(`/tm-package/package-list`)
                })
                .catch(err => {
                    console.log(222)
                    this.$toast.error(err.response.data.msg)
                })
        }
    },
}
</script>
