<template>
    <div class="tm-communication-review">
        <el-table
            :data="tableData"
            style="width: 100%"
            height="750">
            <el-table-column
                prop="dateWrite"
                label="작성일시"
                width="280">
            </el-table-column>
            <el-table-column
                    prop="title"
                label="제목"
                width="300">
            </el-table-column>
            <el-table-column
                prop="memberName"
                label="작성자"
                width="220">
            </el-table-column>
            <el-table-column
                prop="content"
                label="내용"
                height="100">
            </el-table-column>
            <el-table-column
                prop="content"
                label="도구"
                width="250">
                <template slot-scope="scope">
                    <el-button
                        @click.native.prevent="moveInput(scope.$index+1, tableData)"
                        type="text"
                        size="small">
                        상세 보기
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            background
            layout="prev, pager, next"
            :total="1000">
        </el-pagination>
    </div>
</template>
<script>
export default {
    data() {
        return {
            tableData: []
        }
    },
    created() {
        this.getList()
    },

    methods: {
        getList() {
            this.$store.dispatch(this.$reviewConstants.DO_REVIEW_LIST)
                .then((res) => {
                    console.log(res)
                    console.log(1111)
                    this.tableData = res.data.list
                })
                .catch((err) => {
                    console.log(1231)
                    this.$toast.error(err.response.data.msg)
                })
        },
        moveInput(data) {
            let linkBaseUrl = '/communication/review/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'REVIEW')
    },

}
</script>
