<template>
    <div class="tm-communication-answer">
        <el-descriptions v-if="detailInfo != null"
                         :data="detail" class="margin-top" title="회원정보" :column="3" :size="size" border>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-user"></i>
                    문의자
                </template>
                {{ detailInfo.memberName }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-mobile-phone"></i>
                    문의 일시
                </template>
                {{ detailInfo.dateWrite }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    제목
                </template>
                {{ detailInfo.title }}
            </el-descriptions-item>
        </el-descriptions>
        <el-descriptions v-if="detailInfo != null"
                         :data="detail" class="margin-top" :size="size" border>
            <el-descriptions-item>
                <template slot="label"
                          class="tm-answer-content">
                    내용
                </template>
                {{ detailInfo.content }}
            </el-descriptions-item>
        </el-descriptions>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            size: '',
            id: null,
            textarea: {
                questionAnswer:''
            },
            detailInfo: {}
        };
    },
    created() {
        this.getDetail()
    },

    methods: {
        async getDetail() {
            await this.$store.dispatch(this.$reviewConstants.DO_REVIEW_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
    },
}
</script>
