<template>
    <div>
        <div class="tm-inquiry-title">
            회원 리스트
        </div>
        <div class="tm-member-search">
            <el-input placeholder="Please input" v-model="input"></el-input>
            <el-button icon="el-icon-search" circle></el-button>
        </div>
        <div class="tm-member-inquiry">
            <el-table
                :data="tableData"
                style="width: 100%">
                <el-table-column
                    prop="dateJoin"
                    label="가입 일시"
                    width="270">
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="성명"
                    width="220">
                </el-table-column>
                <el-table-column
                    prop="birthday"
                    label="생년월일"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="isMan"
                    label="성별"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="grade"
                    label="등급"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="address"
                    label="주소">
                </el-table-column>
                <el-table-column
                    prop="etcText"
                    label="도구"
                    width="360">
                    <template slot-scope="scope">
                        <el-button
                            @click.native.prevent="moveDetail(scope.$index+1, tableData)"
                            type="text"
                            size="small">
                            상세 보기
                        </el-button>
                        <el-button type="danger" @click.native="delData(tableData[scope.$index].id)">삭제</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div>
            <el-pagination
                :page-size="20"
                :pager-count="11"
                layout="prev, pager, next"
                :total="totalCount"
                :current-page="pageNum"
                @current-change="setPage">
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            tableData: [],
            pageNum: 1,
            totalCount: 0,
        }
    },
    created() {
        this.getList()
    },
    methods: {

        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_MEMBER_LIST)
                .then((res) => {
                    this.tableData = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })

            let payload = {
                pageNum: this.pageNum,
            }
            this.$store.dispatch(this.$memberConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.tableData = res.data.list
                    this.totalCount = res.data.totalCount
                })
                .catch((err) => {
                    console.log(444)
                    this.$toast.error(err.response.data.msg)
                })
        },
        delData(id) {
            let payload = {
                id: id
            }
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.dispatch(this.$memberConstants.DO_MEMBER_DELETE, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        console.log(111)
                        this.getList()
                    })
                    .catch((err) => {
                        console.log(222)
                        this.$toast.error(err.response.data.msg)
                    })
            }
        },
        moveDetail(data) {
            let linkBaseUrl = '/member/detail/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER')
    },
}
</script>
