<template>
    <div class="tm-communication-answer">
        <el-descriptions v-if="detailInfo != null"
                         :data="detail" class="margin-top" title="회원정보" :column="3" :size="size" border>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-user"></i>
                    문의자
                </template>
                {{ detailInfo.memberName }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    답변상태
                </template>
                {{ detailInfo.answerStatus }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-mobile-phone"></i>
                    문의 일시
                </template>
                {{ detailInfo.inputDay }}
            </el-descriptions-item>
            <el-descriptions-item>
                <template slot="label">
                    <i class="el-icon-office-building"></i>
                    제목
                </template>
                {{ detailInfo.title }}
            </el-descriptions-item>
        </el-descriptions>
        <el-descriptions v-if="detailInfo != null"
                         :data="detail" class="margin-top" :size="size" border>
            <el-descriptions-item>
                <template slot="label"
                          class="tm-answer-content">
                    내용
                </template>
                {{ detailInfo.content }}
            </el-descriptions-item>
        </el-descriptions>
        <div class="answer">답변하기</div>
        <el-input
            type="textarea"
            margin-top="20"
            :rows="20"
            placeholder="답변"
            v-model="textarea.questionAnswer">
        </el-input>
        <div class="answer-button">
            <el-button type="primary" @click="setData()">답변</el-button>
            <el-button type="danger">취소</el-button>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            size: '',
            id: null,
            textarea: {
                questionAnswer:'',
            },
            detailInfo: null
        };
    },
    created() {
        this.getDetail()
    },

    methods: {
        async getDetail() {
            await this.$store.dispatch(this.$communicationConstants.DO_QA_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                })
        },
        setData() {
            let payload = {
                id : this.detailInfo.id,
                data: {
                    questionAnswer: this.textarea.questionAnswer,
                }
            }

            this.$store.dispatch(this.$communicationConstants.DO_ANSWER_CREATE, payload)
                .then(res => {
                    console.log(111)
                    console.log(payload)
                    this.$toast.success(res.data.msg)
                    this.$router.replace(`/communication/question`)
                })
                .catch(err => {
                    console.log(222)
                    console.log(payload)
                    this.$toast.error(err.response.data.msg)
                })
        },
    },
}
</script>
